<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListIcon>dashboard</mat-icon>
    <span matLine>Dashboard</span>
  </a>
 
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list dense>
      <a mat-list-item routerLink="/profile" routerLinkActive="active">
        <mat-icon matListIcon>person</mat-icon>
        <span matLine>Profile</span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-nav-list>