<div>
    <mat-nav-list>
      <img class="client-logo" src="assets/images/client-logo.png" >
    </mat-nav-list>
    <mat-nav-list>
      <hr style="color: black;">
    </mat-nav-list>
    <mat-nav-list class="dash">
      <a mat-list-item routerLink="/dashboard"> <mat-icon class="material-icons">dashboard</mat-icon>&nbsp;Dashboard</a>
    </mat-nav-list>
    
    <mat-expansion-panel >
            <mat-expansion-panel-header>
            <mat-icon class="material-icons">settings</mat-icon>&nbsp;Administração
          </mat-expansion-panel-header>
                <mat-nav-list>
                <a mat-list-item routerLink="/user"> <mat-icon class="material-icons">account_circle</mat-icon>&nbsp;Usuários</a>
                </mat-nav-list>
    </mat-expansion-panel>  
</div>
 