

.mat-list-item{
    color: black;
    background-color: #E1DFDD;
  }
  
  .mat-expansion-panel{
    color: black;
    background-color: #E1DFDD;
    display: inline;
  }
  
  .mat-expansion-panel-header{
    padding: 16px;
    margin-top: 8px;
  }
  
  .client-logo{
    width: "80px" !important;
    background-position: center;
  }
  
  .mat-expansion-indicator {
        color: black;
  }
  
  .mat-sidenav{
    background-color: #E1DFDD;
    color: #141414;
    padding: 16px;
  }
  
  .mat-list-item {
  
    border-radius: 7px;
  
  }
  
  .dash .mat-list-item {
  
    color: white;
    background-color: #396976;
    outline-style: round;
    border-radius: 7px;
  
  }
  
  .dash :hover {
  
    opacity: 75%;
  }
  