.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav-container {
  flex: 1;
}

.app-sidenav {
  width: 250px;
  background-color: #f0f0f0;
  border-right: none;
}

.main-content {
  padding: 20px;
  background-color: #f9f9f9;
}

@media (max-width: 599px) {
  .app-sidenav {
    width: 100%;
  }

  .main-content {
    padding: 10px;
  }
}