
@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-side {
  border-right: none;
}

.mat-icon {
  vertical-align: middle;
}

@media (max-width: 599px) {
  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 56px;
  }
}