
@use '@angular/material' as mat;


html, body { height: 100%; }
body { margin: 0;}

  *::-webkit-scrollbar{
  width:5px;
  margin-left:2px;
  }

  *::-webkit-scrollbar-thumb{
  height:10px;
  background-color:#A7A8A9;
  }

  .mat-drawer-inner-container{
  overflow:visible!important;
  }

